.cars {
  padding: 10rem 12.8rem;
  position: relative;
}

.carsList {
  display: flex;
  justify-content: center;
  gap: 3rem;
  list-style: none;
}

.slideBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.6rem;
  height: 3.6rem;
  background-color: var(--main-color);
  border: none;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  top: calc((100% / 2) + 60px);
}

.slideBtn:first-of-type {
  left: 50px;
}

.slideBtn:last-of-type {
  right: 50px;
}

/* media queries */

/* 1200px (75em)  */
@media (max-width: 75em) {
  .cars {
    padding: 8rem 10rem;
  }
}

/* 1020px (63.75) */
@media (max-width: 63.75em) {
  .cars {
    padding: 5rem 7rem;
  }
  .slideBtn {
    display: none;
  }
}

/* 560px (35em) */

@media (max-width: 35em) {
  .cars {
    padding: 5rem 3rem;
  }
}
