.header {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 4.6rem;

  height: 102rem;
  padding: 0 8.7rem;
  color: #ffffff;
  font-family: "Lora", serif;

  background-image: linear-gradient(
      to left,
      rgba(0, 9, 26, 0.45),
      rgba(0, 9, 26, 0.3),
      rgba(0, 0, 0, 0)
    ),
    url("../assets/imgs/backgrounds/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  font-size: 6.4rem;
  /* line-height: 1.3; */
  text-align: end;
  max-width: 50%;
  margin-top: 20rem;
  /* font-weight: bold; */
}

.description {
  font-size: 3.2rem;
  text-align: right;
  max-width: 30%;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 4px;
  font-family: inherit;
  color: inherit;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 10px 26px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
}

/* media queries */

/* 1200px (75em)  */
@media (max-width: 75em) {
  .header {
    align-items: center;
    padding: 0 7rem;
  }

  .title {
    text-align: center;
    max-width: 100%;
  }

  .description {
    text-align: center;
    max-width: 100%;
    margin-bottom: 10rem;
    padding: 1.6rem;
    background-color: rgba(14, 12, 11, 0.46);
  }
}

/* 1020px (63.75) */
@media (max-width: 63.75em) {
  .title {
    font-size: 6rem;
  }
}

/* 560px (35em) */

@media (max-width: 35em) {
  .header {
    padding: 0 3rem;
    padding-bottom: 5rem;
  }
  .title {
    font-size: 3.6rem;
  }

  .description {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: auto;
  }
}
