.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2.4rem 9.4rem;
  padding-top: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.logo {
  font-size: 4.8rem;
  line-height: 1;
  margin-right: auto;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  margin-right: 3.5rem;
}

.navigation a {
  font-family: "Noto Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  padding: 8px 8px;
  border-radius: 6px;
}

.navigation a:hover {
  background-color: var(--main-color);
  color: #ffffff;
}

.cartBtn {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.cartBtn span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 4px;
  background-color: #f8d7a4;
  color: #223f5c;
  font-family: "Nunito Sans";
  font-size: 1.6rem;
  font-weight: 500;
  position: absolute;
  top: -8px;
  right: -8px;
}

.menuBtn {
  display: none;
  border: none;
  background-color: transparent;
  margin-left: 3rem;
}
.navbar path {
  fill: #ffffff;
}

/* White style of nav bar */

.navWhite {
  background-color: #ffffff;
  color: var(--grey-color);
  padding-top: 2rem;
  box-shadow: 5px 4px 4px 0 rgba(0, 0, 0, 0.05);
}
/* h-offset v-offset blur spread color */

.navWhite .cartBtn span {
  background-color: var(--main-color);
  color: #ffffff;
}

.navWhite path {
  fill: var(--main-color);
}

/* media queries */

/* 1100px (68.75em)  */
@media (max-width: 68.75em) {
  .navigation {
    gap: 2rem;
    margin-right: 2rem;
  }
  .navigation a {
    font-size: 2rem;
    padding: 4px 4px;
  }
}

/* 800px (50em) */
@media (max-width: 50em) {
  .navbar {
    padding: 2.4rem 4rem;
    padding-top: 3rem;
  }

  .menuBtn {
    display: inline;
  }

  .navigation {
    flex-direction: column;
    align-items: normal;
    gap: 0;
    background-color: rgba(18, 39, 61, 0.8);
    backdrop-filter: blur(5px);
    position: absolute;
    margin-right: 0;
    top: 100%;
    right: 0;
    width: 65%;
    height: 100vh;
    translate: 100%;
  }
  .navigation.open {
    translate: 0;
  }

  .navigation a {
    color: #ffffff;
    border-radius: 0;
    padding: 2rem 4rem;
  }

  .navigation a:hover {
    background-color: var(--main-color);
  }
}

/* 560px (35em) */

@media (max-width: 35em) {
  .navbar {
    padding: 2.4rem 2.6rem;
    padding-top: 3rem;
  }
}
