.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.6rem;

  background-color: #ffffff;
  max-width: 84.6rem;
  padding: 5.2rem 13rem;
  position: relative;
  margin: 0 auto;
  margin-bottom: 5.4rem;
}

.testimonial blockquote {
  font-family: "Lato";
  font-style: italic;
  font-size: 2.4rem;
  text-align: center;
  line-height: 1.5;
  color: #272727;
}

.testimonial p {
  font-family: "Nunito Snas", sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
  color: var(--grey-color);
}
.starts svg {
  margin-right: 1rem;
}
.car {
  width: 34.2rem;
  position: absolute;
  right: -150px;
  bottom: -80px;
}

/* media queries */

/* 1200px (75em)  */
@media (max-width: 75em) {
  .car {
    width: 30rem;
    right: -100px;
  }
}

/* 940px (58.75) */
@media (max-width: 58.75em) {
  .testimonial blockquote {
    font-size: 2rem;
  }

  .testimonial p {
    font-size: 2.8rem;
  }

  .testimonial svg {
    width: 2.4rem;
  }

  .car {
    width: 20rem;
    right: -50px;
    bottom: -50px;
  }
}

/* 800px (50em) */

@media (max-width: 50em) {
  .testimonial {
    padding: 5.2rem 10rem;
  }
}

/* 560px (35em) */

@media (max-width: 35em) {
  .testimonial {
    padding: 5.2rem 6rem;
  }
  .testimonial p {
    font-size: 2rem;
  }

  .testimonial blockquote {
    font-size: 1.6rem;
  }

  .car {
    display: none;
  }
}
