@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Lato:ital@0;1&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --main-color: #741906;
  --grey-color: #12273d;
  --title-bg: #ebebeb;
  --title-bg-op: #ebebeb0b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fafafa;
}

::-webkit-scrollbar {
  width: 6px;
  display: none;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

/* media queries */

/* 1376px (86em) */

@media (max-width: 86em) {
  html {
    font-size: 60%;
  }
}

/* 1280px (80em) */
@media (max-width: 80em) {
  html {
    font-size: 57%;
  }
}

/* 1200px (75em) */
@media (max-width: 75em) {
}

/* 1020px (63.75em) */
@media (max-width: 63.75em) {
  html {
    font-size: 55%;
  }
}
